/2023-09-25 19-12-52.mp4
/assigner2.1.exe
/Call of Duty Black Ops 2.lnk
/Call of Duty Black Ops III.lnk
/desktop.ini
/e-mukhoriamov-passport.jpg
/e-mukhoriamov-portrait.jpg
/go-certificate.jpg
/hqdefault.jpg
/mukhoryamov-passport.jpg
/mukhoryamov.jpg
/Start-work.ps1
/Как мы работаем с логами.pptx
/сопровод.docx
/таблица сложности алгоритмов.png